a {
    color: grey;
    text-decoration: none;
  }

ax {
    color: darkblue;
    text-decoration: none;
  }

.ax {
    color: darkblue;
    text-decoration: none;
  }

.rsection {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
